.lg-actions {
  z-index: 9998;
}

#lg-download {
  display: none;
}

.lg-outer {
  z-index: 9997;

  #lg-counter {
    display: none;
  }

  .lg-toolbar .lg-icon {
    font-size: 32px;
  }
}

@media (min-width: 641px) {
  .lg-inner {
    text-align: center;
  }

  .lg-outer {
    .lg-item.lg-current {
      position: relative;
      text-align: center;
      margin-top: 1.5%;
      max-width: 75%;
      max-height: 95%;
      width: auto;
      height: 100%;
      z-index: 9999 !important;
    }

    .lg-item .lg-img-wrap {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }

    .lg-toolbar {
      width: 50px;
      left: 94%;
      background: none;
    }

  }
}

@media (min-width: 1100px) {
  .lg-outer .lg-toolbar {
    left: 96%
  }
}

.lg-backdrop.in {
  background: rgba(0, 0, 0, .7);
  z-index: 9996;
}

.lg {
    
  .lg-actions .lg-next {
    right: 0;
    width: 50%;
    height: 100%;
    font-size: 32px;
    text-align: right;
    background: none;

    @media (max-width: 640px) {
      display: none;
    }
  }

  .lg-actions .lg-prev {
    top: 0;
    padding: calc(25% - 11px) 10px;
    height: 100%;
    width: 50%;
    font-size: 32px;
    background: none;

    @media (max-width: 640px) {
      display: none;
    }
  }

}

.lg-close {
  width: 50px;
  height: 50px;
  z-index: 2020;
}

.lg-img-wrap .lg-object {
  cursor: auto !important;
}

/*hover*/
.lg:hover .lg-actions .lg-prev,
.lg:hover .lg-actions .lg-next {
  opacity: 0.5;
}

.lg .lg-inner:hover + .lg-toolbar .lg-close {
  opacity: 1;
  color: #fff;
}

.lg .lg-inner + .lg-toolbar:hover {
  opacity: 1;
  color: #fff;
}

.lg .lg-actions .lg-prev:hover {
  opacity: 1;
  color: #fff;
}

.lg .lg-actions .lg-next:hover {
  opacity: 1;
  color: #fff;
}

.lg .lg-inner + .lg-toolbar.image-hovered {
  opacity: 0.5;
}

.lg .lg-inner + .lg-toolbar {
  opacity: 1;
  color: #fff;
}

.lg .lg-actions .lg-next.image-hovered {
  opacity: 1;
  color: #fff;
}
